/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
head {
  display: none;
}
html {
  max-width: 100%;
  background-color: #F2EBEB;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 1.6rem;
  font-weight: bold;
}
p {
  font-size: 1.4rem;
  line-height: 1.6em;
}
a {
  text-decoration: none;
  font-size: 1.6rem;
}
nav {
  max-width: 100%;
  padding: 10% 0;
  background-color: #9FD6AC;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.logo_cont {
  border: 1px solid black;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.button_nav {
  background-color: #5BA9B1;
  display: inline-block;
  cursor: pointer;
  color: #F2EBEB;
  font-size: 1.5rem;
  padding: 15% 30%;
  text-decoration: none;
  border-radius: 15px;
}
footer {
  background-color: #9FD6AC;
  padding: 8% 0;
}
.copyright_cont {
  display: flex;
  justify-content: center;
}
.copyright {
  width: 40%;
  background-color: #F2EBEB;
  font-size: 1rem;
  border-radius: 20px;
  padding: 1%;
}
.home_header {
  border: 1px solid black;
  padding: 4%;
  margin-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: "../assets/thoughtBubble.png";
}
h2 {
  margin-bottom: 6%;
}
.action_cont {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3%;
  background-color: #F2EBEB;
  border-radius: 15px;
  border: 1px solid black;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_action {
  display: flex;
  justify-content: center;
  background-color: #ff8080;
  cursor: pointer;
  color: #F2EBEB;
  font-size: 1.5rem;
  padding: 15% 30%;
  text-decoration: none;
  border-radius: 15px;
}
.quote_cont {
  background-color: #9FD6AC;
  padding: 6%;
  margin-top: 10%;
}
.quote {
  background-color: #F2EBEB;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4%;
}
.features {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4%;
  margin: 6% 0;
}
.features_cont {
  border: 1px solid black;
  padding: 4%;
  margin: 6% 0;
  width: 60%;
  border: 15px solid #5BA9B1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
