/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
head {
  display: none;
}
html {
  max-width: 100%;
  background-color: #F2EBEB;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 700px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.6rem;
  }
}
@media (min-width:1000px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.8rem;
  }
}
p {
  font-size: 1.2rem;
  line-height: 1.6em;
}
@media (min-width: 700px) {
  p {
    font-size: 1.4rem;
  }
}
@media (min-width:1000px) {
  p {
    font-size: 1.5rem;
  }
}
a {
  text-decoration: none;
  font-size: 1.6rem;
}
nav {
  max-width: 100%;
  padding: 10% 0;
  background-color: #a6e0b4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
}
@media (min-width: 500px) {
  nav {
    padding: 6% 0;
    margin-bottom: 5%;
  }
}
@media (min-width:1000px) {
  nav {
    padding: 3% 0;
    margin-bottom: 4%;
  }
}
.logo_cont {
  background: #F2EBEB;
  border-radius: 30px;
  box-shadow: -3px -5px #65B879;
  width: 160px;
  height: 50px;
  padding: 10% 0 5% 0;
}
.logo_cont h1 {
  font-size: 2.5rem;
  color: black;
}
@media (min-width:1000px) {
  .logo_cont h1 {
    font-size: 4rem;
  }
}
@media (min-width: 500px) {
  .logo_cont {
    width: 200px;
    height: 70px;
    padding: 15% 0 3% 0;
  }
}
@media (min-width:1000px) {
  .logo_cont {
    width: 250px;
    height: 80px;
    padding: 12% 0 3% 0;
  }
}
.links_cont {
  width: 30%;
}
@media (min-width: 500px) {
  .links_cont {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
}
.button_nav {
  background-color: #5BA9B1;
  display: block;
  cursor: pointer;
  color: #F2EBEB;
  font-size: 1.3rem;
  padding: 10px 0 10px 0;
  text-decoration: none;
  border-radius: 15px;
  width: 150px;
  height: 20px;
  box-shadow: 0px 10px #A0CDD2;
  text-shadow: -1px -1px #A0CDD2;
}
.button_nav:hover {
  background-color: #A0CDD2;
  box-shadow: 0px 5px #5BA9B1;
}
@media (min-width: 500px) {
  .button_nav {
    width: 220px;
    height: 40px;
    padding: 6% 0 2% 0;
    font-size: 1.7rem;
    margin-bottom: 5%;
  }
}
@media (min-width:1000px) {
  .button_nav {
    width: 200px;
    height: 50px;
    font-size: 2.2rem;
    padding: 9% 0 1% 0;
  }
}
footer {
  background-color: #a6e0b4;
  padding: 8% 0;
  margin-top: 10%;
}
@media (min-width: 500px) {
  footer {
    padding: 6% 0;
    margin-top: 6%;
  }
}
@media (min-width:1000px) {
  footer {
    padding: 4% 0;
    margin-top: 4%;
  }
}
.copyright_cont {
  display: flex;
  justify-content: center;
}
.copyright {
  width: 40%;
  background-color: #F2EBEB;
  box-shadow: 0 -3px #65B879;
  font-size: 1rem;
  border-radius: 20px;
  padding: 1%;
}
@media (min-width:1000px) {
  .copyright {
    width: 25%;
    font-size: 0.8rem;
    box-shadow: 0 -6px #65B879;
  }
}
.home_header {
  margin: 0 auto;
  margin-top: 6%;
  background: url(../assets/thoughtBubble.svg);
  background-repeat: no-repeat;
  height: 400px;
  object-fit: contain;
  padding-top: 18%;
  padding-left: 18%;
}
@media (min-width: 500px) and (max-width: 650px) {
  .home_header {
    height: 520px;
    padding-top: 16%;
    padding-left: 17%;
  }
}
@media (min-width: 650px) and (max-width: 1000px) {
  .home_header {
    height: 785px;
    padding-top: 18%;
    padding-left: 18%;
  }
}
@media (min-width:1000px) {
  .home_header {
    height: 100vh;
    padding-top: 12%;
    padding-left: 30%;
    background-position: center;
    margin: 2% 3% 0 3%;
  }
}
h2 {
  margin-bottom: 4%;
}
.action_cont {
  max-width: 80%;
  padding: 1% 0 1% 0;
  background-color: #F2EBEB;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -2px -3px #5BA9B1;
}
@media (min-width: 500px) {
  .action_cont {
    max-width: 70%;
    padding: 5%;
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  .action_cont {
    padding: 5%;
  }
}
@media (min-width:1000px) {
  .action_cont {
    width: 50%;
    padding: 4%;
    box-shadow: -5px -7px #5BA9B1;
  }
}
.button_action {
  display: block;
  width: 200px;
  height: 60px;
  background-color: #ff8080;
  cursor: pointer;
  color: #F2EBEB;
  font-size: 1.8rem;
  padding: 50px 0 10px 0;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 15px 0px #a32222;
  text-shadow: -1px -1px #a32222;
  margin: 4% auto;
}
.button_action:hover {
  background-color: #a32222;
  box-shadow: 0px 5px #ff8080;
}
@media (min-width: 500px) {
  .button_action {
    width: 325px;
    height: 80px;
    font-size: 2.7rem;
    padding: 7% 0 2% 0;
    margin: 2% auto;
  }
}
@media (min-width:1000px) {
  .button_action {
    width: 400px;
    height: 40px;
    padding: 4% 0 4% 0;
  }
}
.quote_cont {
  background-color: #a6e0b4;
  padding: 6%;
  margin-top: 15%;
  margin-bottom: 8%;
}
@media (min-width: 500px) {
  .quote_cont {
    margin: 7% 0 5% 0;
  }
}
.quote {
  background-color: #F2EBEB;
  box-shadow: 0 -3px #65B879;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4%;
}
@media (min-width: 500px) {
  .quote {
    box-shadow: 0 -6px #65B879;
  }
}
.features {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4%;
}
.features_cont {
  padding: 4%;
  width: 60%;
  border: 15px solid #A0CDD2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feature_1 {
  margin-bottom: 10%;
}
.about_header {
  border: 15px solid #A0CDD2;
  border-radius: 20px;
  width: 60%;
  padding: 5% 2%;
  margin: 0 auto;
  margin-top: 6%;
  box-shadow: 0px 3px #5BA9B1;
}
.about_header h2 {
  margin: 0;
}
@media (min-width: 500px) {
  .about_header {
    width: 30%;
    padding: 3%;
  }
}
.team_cont {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 500px) {
  .team_cont {
    margin-top: 5%;
  }
}
@media (min-width:1000px) {
  .team_cont {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.team_id_cont {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width:1000px) {
  .team_id_cont {
    margin: 0 5%;
  }
}
img {
  border-radius: 50%;
  margin-bottom: 5%;
}
.team_info {
  border: 15px solid #A0CDD2;
  border-radius: 20px;
  box-shadow: 0px 3px #5BA9B1;
  padding: 4%;
  width: 90%;
  margin-bottom: 10%;
}
.button_github {
  display: block;
  background-color: #ff8080;
  color: #F2EBEB;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 10px 0 10px 0;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  cursor: pointer;
  margin: 8% auto;
  padding: 15px 0 5px 0;
  box-shadow: 0px 8px #a32222;
  text-shadow: -1px -1px 0px #a32222;
}
.button_github:hover {
  background-color: #a32222;
  box-shadow: 0px 5px #ff8080;
}
.button_github:hover {
  background-color: #a32222;
  box-shadow: 0px 5px #ff8080;
}
