nav {
    max-width: 100%;
    padding: 10% 0;
    background-color: @mainColorOne;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;

}
.logo_cont{
    .viewCont();
    width: 20%;

}
.button_nav {
    .btn1(@mainColorTwo, @backgroundColor);
}
footer {
    background-color: @mainColorOne;
    padding: 8% 0;
}
.copyright_cont{
    display: flex;
    justify-content: center;
}
.copyright {
    width: 40%;
    background-color: @backgroundColor;
    font-size: 1rem;
    border-radius: 20px;
    padding: 1%;
}