nav {
    max-width: 100%;
    padding: 10% 0;
    background-color: @mint;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;

}
.logo_cont{
    background: @backgroundColor;
    border-radius: 30px;
    box-shadow: -3px -5px @darkMint;
    width: 160px;
    height: 50px;
    padding: 10% 0 5% 0;
    h1{
        font-size: 2.5rem;
        color: black;
    }

}
.links_cont{
    width: 30%;
}
.button_nav {
    .btn1(@darkBlue, @backgroundColor);
    box-shadow: 0px 10px 0px @blue;
    text-shadow: -1px -1px 0px @blue;
}
footer {
    background-color: @mainColorOne;
    padding: 8% 0;
    margin-top: 10%;
}
.copyright_cont{
    display: flex;
    justify-content: center;
}
.copyright {
    width: 40%;
    background-color: @backgroundColor;
    box-shadow: 0px -3px 0 @darkMint;
    font-size: 1rem;
    border-radius: 20px;
    padding: 1%;
}