// Color Assignments

@mainColorOne: @mint;
@mainColorTwo: @blue;
@backgroundColor: @gray;
@btnNav: @blue;
@btnAction: @red;


// Colors

@mint: #9FD6AC;
@blue: #91C3C8;
@gray: #F2EBEB;
@red: #D63E47;


// Media Queries
@desktop: ~"(min-width:500px)";